*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color:black;
    display: flex;
    justify-content: center; 
}
.piano{
       display: flex;
       align-items: center;
       justify-content: center; 
       position: relative;
}
.piano:hover{
    cursor: pointer;
}

#n1{
    height: 250px;
    width: 55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
    color : black;
    position: relative;

}

#b1{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 40px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px ;  
}
#b1:active{
    scale: 0.98;
}
#n2{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
    
}
#b2{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 95px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px ;
}

#n3{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}

#n4{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}

#n5{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}
#b3{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 205px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px ;
}
#n6{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}
#b4{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 260px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px ;
}
#n7{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}

#n8{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}
#b5{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 315px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px ;
}
#n9{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}
#b6{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 425px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px ;
}
#n10{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}

#n11{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}
#b7{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 480px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px ;
}
#n12{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}
#b8{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 590px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px ;
}
#n13{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}
#b9{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 645px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px ;
}
#n14{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}
#b10{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 700px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px ;
}
#n15{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}

#n16{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}
#b11{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 810px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px ;
}
#n17{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}

#n18{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}
#b12{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 865px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px ;
}

#n19{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}
#b13{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 975px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px ;
}
#n20{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}
#b14{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 1030px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px;
    
}
#n21{
    height: 250px;
    width:55px;
    background-color: white;
    border-radius: 8px;
    border: 3px solid;
}
#b15{
    height: 130px;
    width: 30px;
    background-color: rgb(53, 51, 51);
    position: absolute;
    left: 1085px;
    top: 240px;
    border-radius: 3px;
    box-shadow: 0 18px;
    
}